<html lang="en">

<% include ../partials/head %>

<body>
    <main role="main" class="container">

      <div class="starter-template">
        <h1>Bootstrap + EJS starter template</h1>
        <p class="lead">Check out the Bootstrap, EJS and Express JS docs for details.</p>
      </div>

    </main>
</body>

<% include ../partials/footer %>

</html>
